In [61]:
from openbb import obb
obb.account.login(pat="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoX3Rva2VuIjoic0dETXI5UzI4S1RiemN5OVBTalRvOHdYM0NIU3hac29kNmNLWTIxQyIsImV4cCI6MTc1NTA3Njg2Nn0.52KrCbNqzry8lKQVeUYdeHyTeifsjRqByeUWpcQmeNk")

In [62]:
from openbb import obb

# 按名字查找股票代码等基本信息
obb.equity.search("APPLE", provider="sec").to_df().head(3)

  symbol                          name      cik
0   AAPL                    Apple Inc.   320193
1   APLE  Apple Hospitality REIT, Inc.  1418121
2    MLP  MAUI LAND & PINEAPPLE CO INC    63330

In [63]:
# 获取指数列表
indices = obb.index.available(provider="fmp").to_df()
indices

,name,currency,stock_exchange,exchange_short_name,symbol
0,S&P/TSX Capped Industrials Index,CAD,Toronto Stock Exchange,INDEX,^TTIN
1,S&P/TSX Capped Consumer Discretionary,CAD,Toronto Stock Exchange,INDEX,^TTCD
2,Solactive Equal Weight Canada Oil & Gas Index,EUR,Stuttgart,INDEX,DE000SLA30S3.SG
3,OMX Stockholm 30 Index,SEK,Stockholm Stock Exchange,INDEX,^OMXS30
4,Wilshire 5000 Total Market Index,USD,NYSE,INDEX,^W5000
...,...,...,...,...,...
187,All Ordinaries,AUD,ASX,INDEX,^AORD
188,Alerian MLP Index,USD,NYSE,INDEX,^AMZ
189,AEX Index,EUR,Amsterdam,INDEX,^AEX
190,13 Week Treasury Bill,USD,ICE Futures,INDEX,^IRX
191,1/100 Dow Jones Industrial Average,USD,Chicago Options,INDEX,^DJX

In [64]:
# 获取股票行情报价
obb.equity.price.historical("AAPL", provider="fmp").to_df().tail()

,open,high,low,close,volume,vwap,adj_close,unadjusted_volume,change,change_percent
date,,,,,,,,,,
2024-08-07,206.90,213.64,206.39,209.820,63516417,209.1875,209.580,63516417.0,2.92,0.014100
2024-08-08,213.11,214.20,208.83,213.310,47161149,212.3625,213.060,47161149.0,0.20,0.000938
2024-08-09,212.10,216.78,211.97,216.240,42201646,214.2725,216.240,42201646.0,4.14,0.019500
2024-08-12,216.07,219.51,215.60,217.530,37575198,217.1775,217.530,37575198.0,1.46,0.006757
2024-08-13,219.01,221.47,219.01,220.459,5944328,220.3100,220.459,5944328.0,1.45,0.006616

In [65]:
# 基本面研究
obb.equity.fundamental.cash("AAPL", provider='fmp').to_df().tail()

,period_ending,fiscal_period,fiscal_year,filing_date,accepted_date,reported_currency,net_income,depreciation_and_amortization,stock_based_compensation,change_in_working_capital,...,cash_at_beginning_of_period,cash_at_end_of_period,operating_cash_flow,capital_expenditure,free_cash_flow,link,final_link,deferred_income_tax,acquisitions,issuance_of_common_equity
0,2023-09-30,FY,2023,2023-11-03,2023-11-02 18:08:27,USD,9.699500e+10,1.151900e+10,1.083300e+10,-6.577000e+09,...,2.497700e+10,3.073700e+10,1.105430e+11,-1.095900e+10,9.958400e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,NaN,NaN,NaN
1,2022-09-24,FY,2022,2022-10-28,2022-10-27 18:01:14,USD,9.980300e+10,1.110400e+10,9.038000e+09,1.200000e+09,...,3.592900e+10,2.497700e+10,1.221510e+11,-1.070800e+10,1.114430e+11,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,8.950000e+08,-3.060000e+08,NaN
2,2021-09-25,FY,2021,2021-10-29,2021-10-28 18:04:28,USD,9.468000e+10,1.128400e+10,7.906000e+09,-4.911000e+09,...,3.978900e+10,3.592900e+10,1.040380e+11,-1.108500e+10,9.295300e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,-4.774000e+09,-3.300000e+07,1.105000e+09
3,2020-09-26,FY,2020,2020-10-30,2020-10-29 18:06:25,USD,5.741100e+10,1.105600e+10,6.829000e+09,5.690000e+09,...,5.022400e+10,3.978900e+10,8.067400e+10,-7.309000e+09,7.336500e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,-2.150000e+08,-1.524000e+09,8.800000e+08
4,2019-09-28,FY,2019,2019-10-31,2019-10-30 18:12:36,USD,5.525600e+10,1.254700e+10,6.068000e+09,-3.488000e+09,...,2.591300e+10,5.022400e+10,6.939100e+10,-1.049500e+10,5.889600e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...,-3.400000e+08,-6.240000e+08,7.810000e+08

In [66]:
# 股票实时价格，注意按有Nasdaq等交易所要求，实时价格有15分钟延时
quote_data = obb.equity.price.quote(symbol="AAPL")
quote_data.to_df().tail()

,symbol,asset_type,name,bid,bid_size,ask,ask_size,last_price,last_tick,last_timestamp,...,iv30_annual_low,hv30_annual_low,iv60_annual_high,hv60_annual_high,iv60_annual_low,hv60_annual_low,iv90_annual_high,hv90_annual_high,iv90_annual_low,hv90_annual_low
0,AAPL,stock,APPLE INC COM,218.81,4,219.12,10,218.75,up,2024-08-12 15:59:59,...,0.15278,0.124114,0.33212,0.28291,0.16292,0.152139,0.32144,0.274037,0.18538,0.170369

In [67]:
# 获取指数成份股, dowjones, nasdaq, sp500(无权限)

obb.index.constituents("dowjones", provider='fmp').to_df()

,symbol,name,sector,sub_sector,headquarter,date_first_added,cik,founded
0,AMZN,"Amazon.com, Inc.amazon.com",Consumer Cyclical,Consumer Cyclical,"Seattle, WA",2024-02-26,1018724,1994-07-05
1,AMGN,Amgen Inc.,Healthcare,Healthcare,"Thousand Oaks, CA",2020-08-31,318154,1980-04-08
2,CRM,"Salesforce, Inc.",Technology,Technology,"San Francisco, CA",2020-08-31,1108524,1999-02-03
3,HON,Honeywell International Inc.,Industrials,Industrials,"Charlotte, NC",2020-08-31,773840,1906-01-01
4,GS,"The Goldman Sachs Group, Inc.",Financial Services,Financial Services,"New York, NY",2019-04-02,886982,1869-01-01
5,AAPL,Apple Inc.,Technology,Technology,"Cupertino, CA",2015-03-19,320193,1976-04-01
6,NKE,"Nike, Inc.",Consumer Cyclical,Consumer Cyclical,"Beaverton, OR",2013-09-20,320187,1964-01-25
7,V,Visa Inc.,Financial Services,Financial Services,"San Francisco, CA",2013-09-20,1403161,1958-09-18
8,UNH,UnitedHealth Group Incorporated,Healthcare,Healthcare,"Minnetonka, MN",2012-09-24,731766,1977-01-01
9,CSCO,"Cisco Systems, Inc.",Technology,Technology,"San Jose, CA",2009-06-08,858877,1984-12-10
10,TRV,"The Travelers Companies, Inc.",Financial Services,Financial Services,"New York, NY",2009-06-08,86312,1853-01-01
11,CVX,Chevron Corporation,Energy,Energy,"San Ramon, CA",2008-02-19,93410,1879-09-10
12,VZ,Verizon Communications Inc.,Communication Services,Communication Services,"New York, NY",2004-04-08,732712,1983-10-07
13,HD,"The Home Depot, Inc.",Consumer Cyclical,Consumer Cyclical,"Atlanta, GA",1999-11-01,354950,1978-02-06
14,INTC,Intel Corporation,Technology,Technology,"Santa Clara, CA",1999-11-01,50863,1968-07-18
15,MSFT,Microsoft Corporation,Technology,Technology,"Redmond, WA",1999-11-01,789019,1975-04-04
16,JNJ,Johnson & Johnson,Healthcare,Healthcare,"New Brunswick, NJ",1997-03-17,200406,1886-01-01
17,WMT,Walmart Inc.,Consumer Defensive,Consumer Defensive,"Bentonville, AR",1997-03-17,104169,1962-07-02
18,CAT,Caterpillar Inc.,Industrials,Industrials,"Deerfield, IL",1991-05-06,18230,1925-04-15
19,DIS,The Walt Disney Company,Communication Services,Communication Services,"Burbank, CA",1991-05-06,1744489,1923-10-16
20,DOW,Dow Inc.,Basic Materials,Basic Materials,"Midland, MI",1991-05-06,1751788,2019-04-01
21,JPM,JPMorgan Chase & Co.,Financial Services,Financial Services,"New York, NY",1991-05-06,19617,2000-12-01
22,BA,The Boeing Company,Industrials,Industrials,"Arlington, VA",1987-03-12,12927,1916-07-15
23,KO,The Coca-Cola Company,Consumer Defensive,Consumer Defensive,"Atlanta, GA",1987-03-12,21344,1892-01-29
24,MCD,McDonald's Corporation,Consumer Cyclical,Consumer Cyclical,"Chicago, IL",1985-10-30,63908,1940-05-15
25,AXP,American Express Company,Financial Services,Financial Services,"New York, NY",1982-08-30,4962,1850-03-18
26,IBM,International Business Machines Corporation,Technology,Technology,"Armonk, NY",1979-06-29,51143,1924-06-16
27,MRK,"Merck & Co., Inc.",Healthcare,Healthcare,"Kenilworth, NJ",1979-06-29,310158,1891-01-01
28,MMM,3M Company,Industrials,Industrials,"Saint Paul, MN",1976-08-09,66740,1902-06-13
29,PG,The Procter & Gamble Company,Consumer Defensive,Consumer Defensive,"Cincinnati, OH",1932-05-26,80424,1837-10-31