In [1]:
import duckdb as db

store = db.connect("/tmp/provision.db")

for sql in [
    "CREATE SEQUENCE if not exists id_provision START 1;",
    "create table if not exists provision (id INT default nextval('id_provision'), created date default current_date(), name varchar, course varchar, contact varchar, expired date, memo varchar)"
]:
    store.execute(sql)

In [3]:
store.execute("insert into provision (name, password, course, contact, expired, memo) values (?, ?, ?, ?, ?, ?)", ["aaron", "24lecture", "wx", None, None])

In [4]:
store.execute("from provision").fetch_df()

   id    created   name     course contact expired   memo
0   1 2024-02-02  aaron  24lecture      wx     NaT  added